.cal{

    width: 50%;
    padding: 40px;
    border-radius: 5px;
    border:none;
    background-color: rgb(254, 250, 250);
    text-align: center;
    margin-left: 20%;
}
button{
    width: 10%;
    height:10%;
    padding:9px;
    margin: 3px;
    border-radius: 3px;
    border:none;
    cursor: pointer;
}

.buttons {
    color: rgb(99, 23, 23);
    background-color: rgb(254, 250, 250);
    font-size: 20px;
    border-radius: 4px;
    
}
.equal {
    background: rgb(11, 203, 11);
    color: white;
}
.clear {
    background: rgb(243, 15, 15);
    color: white;
}
input{

    width: 39%;
    padding: 9px;
    margin: 4px;
    border-radius: 3px;
    border solid 1px;
    font-size: 20px;
    text-align: left;
    background-color: rgb(254, 250, 250);
    color: rgb(7, 6, 6);
}
